body {
    background-color: #000000;
    font-family: Arial, sans-serif;
}
button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
body {
    background-image: url("../IMAGENS/IMAGEM.JPG"); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0; 
}

.conteudo {
    color: white;
    text-align: center;
    padding: 50px;
}
